@font-face {
    font-family: 'norsebold';
    src: url('./fonts/webfontkit-20230308-130027/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit-20230308-130027/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --timberwolf: #dee4e0;
    --ebony: #5d5e51;
    --special-white: #fbfdfd;
    --crayola-blue: #0374F5;
    --air-blue: #7da6c5;         
}

body {
    display: grid;
    grid-template-columns: 712px 1fr;
    height: 100vh;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;   
}

.image {
    background-image: url(./assets/emiliano-vittoriosi-zXNxHhMXBE8-unsplash.jpg);
    background-size: 100% 100%;
    text-align: center;
    position: relative;
}

.logo,
.credits {
    color: var(--special-white);
    background: rgba(0, 0, 0, 0.6);   
}

.logo {
    position: absolute;
    top: 30%;
    right: 0px;
    left: 0px;
    margin: auto;
    font-size: 64px;
    padding: 0.25ch;   
}

.credits {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px; 
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--special-white);
}

.right-side {
    display: grid;
    grid-template-rows: 40% 30% 1fr;
    background-color: var(--timberwolf);
    color: black;
}

.slider {
    overflow: hidden;
    width: 100%;    
}

.slides {
    width: 300%;
    display: flex;
}

.slides input {
    display: none;
}

.product-description {
    width: 33.3%;
    font-size: 28px;
    font-weight: bold;
    padding: 8ch 8ch 0ch 4ch;
    transition: 2s;
}

/*css for transition */

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -40%;
}

#radio3:checked ~ .first {
    margin-left: -79%;
}

.form {
    display: grid;
    grid-template-rows: 20% 1fr;
    background-color: var(--air-blue);
    padding-left: 56px;
    box-shadow: 0px 5px 5px var(--crayola-blue);
}

form {
    display: grid;
    grid-template-columns: 400px 400px;
    column-gap: 100px;
    row-gap: 1ch;
}

input {
    border-radius: 4px;
    font-size: 16px;
    border: none;
    padding: 8px;
}

input:focus {
    background-color: var(--timberwolf);
}

input:invalid {
    border: 2px solid red
}

.form-row {
    display: flex;
    flex-direction: column;
}

.submit {
    padding-top: 24px;
    padding-left: 56px;
}

.submit a {
    text-decoration: none;
    color: var(--crayola-blue);
}

button {
    height: 60px;
    width: 240px;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    background-color: var(--crayola-blue);
    margin-bottom: 10px;
}

#message {
    font-size: 12px;
}